body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1420px;
}

.banner_bg {
  background-image: url("assets/banner-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 143px;
}

header {
  padding-bottom: 50px;
}

a.nav-link {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  margin-right: 34px;
}

.navbar-expand-lg .navbar-nav {
  align-items: center;
}

#connect {
  color: #015a06;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 15px 80px;
  margin-right: 0 !important;
}

.banner {
  position: relative;
  padding-top: 54px;
}

.banner h2 {
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: 600;
  /* font-size: 36px; */
  font-size: 44px;
  line-height: 69px;
  color: #015a06;
  margin-bottom: 14px;
}

.banner p {
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 34px;
  color: #333333;
  margin-bottom: 30px;
}



.banner a {
  text-decoration: none;
  font-family: "Outfit", sans-serif;
  background-color: #000000;
  padding: 18px 95px;
  border-radius: 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
}

.banner #hero {
  border: 1px solid #015a06;
  border-radius: 50%;
  padding: 43.5px;
  max-height: 650px;
  max-width: 650px;
  margin: auto;
}

/* .word-container {
  display: flex;
  justify-content: center;
}

.word {
  position: absolute;
  opacity: 0;
}

.word:nth-child(1) {
  animation: show-word 6s infinite;
}

.word:nth-child(2) {
  animation: show-word 6s 2s infinite;
}

.word:nth-child(3) {
  animation: show-word 6s 4s infinite;
}

@keyframes show-word {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */


/* mine ============== */
/* *,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  font-size: 40px;
  font-weight: 500;
} */

p.animate__head {
  font-size: 40px;
  line-height: unset;
  margin: 0;
  color: #015a06;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: 600;
}

.wrapper__content {
  box-sizing: content-box;
  height: 70px;
  display: flex;
}

.wrapper__words {
  overflow: hidden;
}

.wrapper__words span {
  display: block;
  height: 100%;
  color: #015a06;
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  font-style: italic;
  font-weight: 600;
  padding-left: 10px;
  /* border: 1px solid orange; */
  animation: spin_words 10s infinite;
}

@keyframes spin_words {
  10% {
    transform: translateY(-112%);
  }

  25% {
    transform: translateY(-100%);
  }

  35% {
    transform: translateY(-212%);
  }

  50% {
    transform: translateY(-200%);
  }

  60% {
    transform: translateY(-312%);
  }

  75% {
    transform: translateY(-300%);
  }

  85% {
    transform: translateY(-412%);
  }

  100% {
    transform: translateY(-400%);
  }
}

/* mine ============== */


.round_box {
  background-color: #ffffff;
  border-radius: 50%;
  padding: 42px 60px;
  height: 274px;
  width: 274px;
}

.round_box h3 {
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  color: #015a06;
  margin-bottom: 8px;
}

.round_box p {
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #000000;
}

/* .round_box.first {
  position: absolute;
  top: 0px;
  left: 43%;
}
.round_box.second {
  position: absolute;
  bottom: 0;
  right: 40%;
}
.round_box.third {
  position: absolute;
  right: 0;
  top: 36%;
} */
.dmrc {
  background-color: #f6f6f6;
  padding-top: 118px;
  padding-bottom: 106px;
  margin-bottom: 140px;
}

.dmrc .logo {
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  color: #015a06;
}

.dmrc .content {
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 150%;
  color: #333333;
  text-align: justify;
}

.dmrc .icon_div {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 15px;
  /* padding: 33px 50px; */
}

.dmrc .icon_div.first {
  /* height: 198px; */
  width: 250px;
}

.dmrc .icon_div.last {
  /* height: 198px; */
  width: 292px;
}

.d-flex.flex-wrap.justify-content-center {
  gap: 20px;
}

.dmrc .icon {
  background-color: #f6f6f6;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-bottom: 13px;
}

.icon_div h3 {
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  color: #015a06;
  margin-bottom: 8px;
}

.icon_div p {
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}

#team1 {
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-size: 48px;
  color: #015a06;
  font-weight: 700;
}

.dr {
  /* padding-top: 168px; */
  padding-bottom: 140px;
}

.dr #name {
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  color: #015a06;
}

.dr .company {
  color: #015a06;
  font-weight: 600;
}

.dr .content {
  color: rgba(67, 67, 67, 0.6);
}

.dr p {
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #373737;
  text-align: justify;
}

.contact {
  /* background-image: url("assets/contact.png");
  background-repeat: no-repeat;
  background-position: left center; */
  margin-bottom: 158px;
  /* padding-top: 88px; */
}

.contact_now {
  background-color: #f3f3f3;
  padding: 40px 89px;
  position: relative;
}

.contact_now:after {
  position: absolute;
  content: "";
  background: #015a06;
  top: -19px;
  right: 0;
  width: 97%;
  height: 18px;
}

.contact_now h2 {
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 53px;
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 27px;
  text-align: center;
}

.contact_now input,
select,
textarea {
  width: 100%;
  border: 0;
  padding: 15px 30px;
  border-radius: 5px;
  margin-bottom: 20px;
}



.contact_now textarea {
  height: 96px;

}

.contact_now button {
  background-color: #015a06;
  border: none;
  box-shadow: 5px 5px 35px rgba(19, 121, 177, 0.08);
  border-radius: 12px;
  padding: 14px 60px;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

select{
  color: gray;
}

.footer {
  background-image: url("assets/footer_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 21px;
  padding-bottom: 100px;
}

.footer img {
  margin-bottom: 12px;
}

.footer a {
  font-family: "Outfit", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  margin-right: 34px;
}
.footer p{
  font-style: italic;
  font-size: 20px;
  margin-top: 25px;
  font-weight: 700;
  color: #015a06;
}

@media screen and (max-width: 525px) {
  .navbar-brand {
    width: 70%;
  }

  .banner {
    padding-top: 0;
  }

  .banner #hero {
    margin-bottom: 30px;
  }

  .banner h2 {
    font-size: 28px;
    margin-bottom: 0;
  }

  .banner p {
    font-size: 20px;
  }

  .banner_bg {
    padding-bottom: 65px;
  }

  .banner a {
    padding: 10px 35px;
  }
  .wrapper__words span{
    font-size: 20px;
  }

  .dmrc {
    padding-top: 25px;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  .dmrc .content {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .d-flex.flex-wrap.justify-content-center {
    gap: 25px;
  }

  #team1 {
    font-size: 30px;
  }

  .dr {
    padding: 50px 20px 0px;
  }

  .dr #name {
    font-size: 30px;
  }

  .dr p {
    font-size: 18px;
  }

  .contact {
    background-image: none;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  .contact_now {
    padding: 20px;
  }

  .contact_now h2 {
    font-size: 30px;
  }

  .footer {
    padding-bottom: 60px;
  }
}